# Byte‐compiled / optimized files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache/
.pytest_cache/

# Documentation build
docs/_build/

# IDE/editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db


artifacts/
